/* Fonts / General */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");

html {
  /* currently not fully supported in all browsers */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: rgb(185, 185, 185);

}



/* Header / Jumbotron / Navbar */
#home {
  background-image: url("../images/cover-2.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 95vh;
  margin-bottom: 0;
  z-index: 1;
}

#home nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  padding: 0;
  font-weight: 300;
}

/* Logo */
.navbar-brand .fa-star {
  margin-left: 10px;
  font-size: 24px;
  color: #E6F5FF;
  transition: transform .4s;

}

#logo:hover>.fa-star {
  transform: scale(1.15);

}

.nav-item:hover>a {
  font-weight: 400;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 300;
  padding-left: 6px;
  letter-spacing: 1px;
}


/* Header Title */

.txt-header-title {
  position: absolute;
  top: 8vh;
}

.txt-header-title h1 {
  font-size: 55px;
  font-weight: 200;
}

/* About */

#about {
  margin: 10px;
}

#about .card {
  text-align: center;
  border-radius: 10px;
  height: 100%;

}

.place-card {
  padding: 4em 2em;

}

.card-img-top {
  padding: 5px;
  border-radius: 10px;
}

/* testimonials review section */
.testimonials {

  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}

.testimonials i {
  color: grey;
  font-size: 1.5em;

}

.review-text {
  margin-top: 2em;
}

/* products */

.product-size img {
  padding: 0;
  border-radius: 5px;
  margin-top: 5%;
  width: 450px;
}

#products .card-body h5 {
  text-transform: uppercase;
  font-weight: 300;
}

/* contact */


.ui-contact .row {
  justify-content: center;
  text-align: center;
}

.contact-field {
  width: 80%;
}

#footer {
  color: #f4f4f4;
  padding: 50px;
}

.social li {
  list-style: none;

}

.icon {
  font-size: 30px;
}

#contact {
  margin-top: 100px;
}


/* media queries */





@media (max-width: 640px) {

  .txt-header-title h1 {
    font-size: 2em;
    padding-top: 0.5em;
  }


}

@media (max-width: 576px) {
  .navbar-brand span {
    font-size: 1em;
    font-weight: 300;
    padding-left: 6px;
    letter-spacing: 1px;
  }

  #about .card {
    text-align: left;
    padding: 5px;
  }

  .txt-header-title h1 {
    font-size: 1.5em;
    padding-top: 0.5em;
  }



  .review {
    font-size: 0.8em;
    margin-bottom: 10%;
  }

}

/* @media(max-width:321px) {


  .txt-header-title h1 {
    font-size: 1.5em;
    padding-top: 0.5em;

  }

  .about-card {
    padding-top: 10%;
  }

  .review {
    font-size: 0.8em;
    margin-bottom: 10%;
  }

} */