/* Fonts / General */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");


body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
}

/* Header / Jumbotron */
#ui-header {
  background-image: url("../images/cover-2.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  margin-bottom: 0;
  z-index: 1;
}

#ui-header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Logo */
.navbar-brand .fa-star {
  font-size: 30px;
}

.navbar-brand span {
  font-size: 18px;
  margin-left: 5px;
}

/* Header Title */

.txt-header-title {
  position: absolute;
  top: 70vh;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.txt-header-title h1 {
  color: white;
}

/* About */
txt-about-header {
  margin-top: 50px;
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#about h2 {
  margin: 2%;
  text-align: center;
}


#about .card {
  margin: 8%;
  margin-top: 0;
  margin-bottom: 0;

}


/* review section */
.review {
  color: orange;
}

/* grip line */
.gripline {
  text-align: center;
  font-size: 64px;
}