/* Fonts / General */
/*@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700");

html {
    /* currently not fully supported in all browsers */
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #eae9f2;
    padding: 0;
}

/* colors */

.bg-light-blue {
    background-color: #0062a5;
}

.bg-dark-blue {
    background-color: #00428d;
}

.bg-green {
    background-color: #0ba871;
}

.col-light-grey {
    color: #eae9f2;
}

.col-white {
    color: #fff;
}

/* / Jumbotron / */
#home {
    background-image: url("../images/cover-2.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    z-index: 1;
}

/*navbar*/
#home nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link i {
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 1.1em;
    margin-right: 40px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #eae9f2;
}

.navbar-dark .nav-item > .nav-link.active {
    color: #fff;
    border-bottom: 3px solid #fff;
}

/* Logo */
#logo {
    padding-left: 80px;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    #logo {
        padding-left: 5px;
    }
}

@media (max-width: 1024px) {
    #logo {
        padding-left: 10px;
    }

    .navbar-dark .navbar-nav .nav-link {
        margin-right: 20px;
    }
}

/* Header Title */
.txt-header-title {
    background-color: rgba(0, 98, 165, 0.5);
    position: absolute;
    left: 0;
    top: 70vh;
    bottom: auto;
    width: 100vw;


}

.txt-header-title h1 {
    padding: 1em 0 0 1em;
    font-weight: 500;
    font-size: 3em;
}

.txt-header-title p {
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 50px;
}

.btn-pill {
    border-radius: 25px;
    margin: 10px;
}

.txt-header-title button:hover {
    color: #fff;
    background-color: #1c7430;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom: 250px solid rgba(0, 98, 165, 0.6);
    border-right: 100px solid transparent;
    left: 0;
}

/* About */

#about {
    padding: 4em;
}

#about .card {
    margin-top: 1em;
    text-align: center;
    border-radius: 10px;
    height: 100%;

}

#about .card-body h5 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

#about .card-body p {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 300;
}

.place-card {
    padding: 2em;
}

.card-img-top {
    padding: 5px;
    border-radius: 10px;
}

/* testimonials review section */

.testimonials .fa-quote-left {
    color: #7196b0;
    font-size: 1.1em;
}

.testimonials .fa-star,
.fa-star-half-alt {
    color: #fa4c33;
    font-size: 1.5em;
}

.review-text {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 300;
    padding: 20px;
}

/*Team*/

#team {
    padding: 2em;
    width: 100%;
    height: 100%;
}

.team-member {
    width: 250px;
    height: 250px;
    background-color: #0062a5;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 100px;

}

.team-member img {
    width: 200px;
    height: 200px;
}


.team-member h5 {
    padding-top: 50px;
    font-size: 1.3em;
    font-weight: 600;
}

/* services */

#services {
    margin-top: 4em;
    padding-top: 6em;
    padding-bottom: 2em;
}

#services .card button:hover {
    color: #fff;
    background-color: #1c7430;
}

#services .card button{
    margin: 5px;
}
#services .card h5 {
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 5px;
    padding-left: 0;
    margin: 0;
    font-size: 1.3em;
    border-bottom: 1px solid #eae9f2;

}

#services .card p {
    font-weight: 300;
    text-align: left;
    padding-top: 1.2em;
    padding-right: 10px;


}

#services .card {

    margin: 1em;
    background-color: #00428d;


}

#services img {

    width: 100%;
    height: 100%;

}

.service-btn{
    position: absolute;
    bottom: 0;
    right:0;
    padding-right: 2.5em;
    padding-bottom: 0.5em;
}
/* modal */
/*.modal-content{*/
/*    background-color: rgba(0, 47, 127, 0.87);*/
/*}*/

/*#modal-all textarea::placeholder {*/
/*    color: #eae9f2;*/
/*}*/
/*#modal-all input::placeholder {*/
/*    color: #eae9f2;*/
/*}*/

/*#modal-form textarea, .form-control{*/
/*    border-color:#eae9f2;*/
/*    background-color: #0062a5;*/
/*}*/
/*#modal-form input{*/
/*    border-radius: 0;*/
/*    border:0;*/
/*    border-bottom: 1px solid #e5e4ed;*/
/*}*/
.modal-content{
    background-color: #0062a5;
}
#modal-all input {
    background-color: #0062a5;
    border: 0;
    border-bottom: 1px solid #00428d;
    border-radius: 0;
    margin-bottom: 10px;
    color: #fff;
}

#modal-all input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

#modal-all textarea, .form-control {
    background-color: #0062a5;
    border-color: #00428d;
    color: #fff;
}

#modal-all textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


/*contact*/

/*form*/

#contact h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3em;
    padding-left: 1em;
}


#contact-form {
    width: 100%;
    padding: 0 1em;
    border-right: 1px solid #0062a5;
    border-left: 1px solid #0062a5;

}

#contact-form input {
    background-color: #00428d;
    border: 0;
    border-bottom: 1px solid #0062a5;
    border-radius: 0;
    margin-bottom: 10px;
    color: #fff;
}

#contact-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#contact-form textarea {
    background-color: #0062a5;
    border-color: #0062a5;
    color: #fff;
}

#contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#contact .card {
    padding: 10px;
    margin: 4em;
}

.address {
    text-align: center;
}

#map {
    padding: 20px;
}

#map iframe {
    border-radius: 5px;
    border: solid 2px #eae9f2;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.address i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.5em;
    vertical-align: middle;
    padding: 5px;
}

#contact-form button:hover {
    color: #fff;
    background-color: #1c7430;
}

/* footer */

#copyright p {
    padding-left: 2em;
    padding-top: 3em;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

#mail-address {
    padding: 2em;
    text-align: center;

}
#mail-address a:hover{
    color: rgba(255, 255, 255, 0.9); ;
}

#mail-address i{
    padding-right: 5px;
}

.social li {
    list-style: none;
}

.icon i{
    font-size: 2.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: rgba(255, 255, 255, 0.7);
}

.icon i:hover{

    color: #fff;
}

.social {
    text-align: center;
    padding-top: 3em;
}
.subscribe-txt{
    padding-top: 10px;
    border-bottom: 0;

}

#newsletter{
    padding-top: 1em;
}


#newsletter input{
    width: 60%;
    padding: 0;
    background-color: #0062a5;
    border-color: #0062a5;
    border-radius: 0;
    color: #fff;
}

